body{
    width: 70%;
    position: absolute;
    left: 15%;
    margin: 0px;
}

header, footer{
    background-color: red;
    height: 50px;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    background-color: grey;
}

.item{
    display: block;
    width: 280px;
    height: 280px;

    margin-left: 18px;
    margin-top: 30px;
    margin-bottom: 30px;

    background-color: white;
}

.imagem{
    display: block;
    height: 60%;
    max-width: 100%;
  
    margin-left: auto;
    margin-right: auto;
}

.nomeProduto{
    display: flex;
    position: relative;
    top: -6%;
    left: 12.5%;

    background-color: rgb(52, 52, 54);
    color: white;
    width: 75%;
    height: 8%;

    justify-content: center;
    padding-top: 6px;

    border: 1px solid black;
    margin-bottom: 0px;
}

.descricao{
    display: block;
    height: 25%;
    
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;

    position: relative;
    top: -6%;

    padding: 5px;
    text-align: justify;

    overflow-y: scroll; 
}

.BDetalhes{
    display: Block;
    height: 20px;
    width: 100%;
    background-color: rgb(52, 52, 54);
    color: white;
    
    border: 0px none;
    margin: 0px;

    position: relative;
    top: -6%;
}

.BDetalhes:hover{
    background-color: red;
}

#expandido{
    display: none;
    width: 400px;
    height: 450px;

    position: fixed;
    top: calc(50% - 225px);
    left: calc(50% - 200px);

    background-color: rgb(52, 52, 54);
}

#barraSuperior{
    display:block;
    height: 20px;
    width: 100%;

    background-color: white;
    border: 1px solid black;
}

#BFechar{
    display: block;
    height: 20px;
    width: 20px;

    position: absolute;
    right: 0px;

    background-color: white;
    color: black;

    border: 0px none;
    margin: 0px;
}

#produto{
    display: flex;
    width: 70%;
    height: 20px;

    position: relative;
    left: 15%;
    top: -7%;

    justify-content: center;
    background-color: white;

    border: 1px solid black;
    margin-bottom: 0px;

    padding-top: 5px;
    padding-bottom: 5px;
}

#imagemModal{
    display: block;
    height: 50%;
    max-width: 100%;
  
    margin-left: auto;
    margin-right: auto;
}

#descricao{
    display: block;
    position: relative;
    top: -7%;

    height: 25%;

    color: white;
    text-align: justify;
    padding-left: 4%;
    padding-right: 4%;

    overflow-y: scroll; 
}

#barraInferior{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 10%;
    
    position: relative;
    top: -10%;
}

#preco{
    display: block;
    background-color: white;
    text-align: center;

    height: 98%;
    border: 1px solid black;
}

#precoAnterior{
    color: gray;
    margin: 0%;
    padding-top: 5px;
    text-decoration: line-through;
}

#precoAtual{
    position: relative;
    color: black;
    margin: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#comprar{
    background-color:brown;
    color: white;
}