.container{
	display: flex;
	flex-direction: column;
	min-height: 150vh;
}

#menu{
	width: flex;
}

#menu ul{
	background: grey;
	list-style-type: none;
}

#menu li{
	font-family: Verdana;
	font-size: 12px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	width: 120px;
}

#menu li a{	/*estado inicial*/
	display: block;
	color: white;
	background-color: #959da5;
	text-decoration: none;
}

#menu li a:hover{
	color: #959da5;
	background-color: #0059d6;

}

#menu li{
	float: left;
}
